
html, body {
  width: 100%;
  height: 100%;
}

Body {
  Background-image: URL("hearts.jpg")
}

#Title {
  /*background-color: pink;*/
  display: inline-block;
  opacity: 0.2;
  Color: white;
}


Footer {
  Background-color: powderblue;
}

h1 {
  color: blueviolet;
}
