
Body {
  Background-image: URL("ACNH wallpaper.jpg")
}

#Title {
  background-color: pink;
  display: inline-block;
  opacity: 0.2;
}

Footer {
  Background-color: powderblue;
}

h1 {
  color: blueviolet;
}
