
Body {
  Background-image: URL("ACNH wallpaper.jpg")
}

#Title {
  /*background-color: pink;*/
  display: inline-block;
  opacity: 0.2;
  Color: white;
}

#cursorToggle {
  position: fixed;
  right: 20px;
  bottom: 20px;

  width: 60px;        /* pas aan naar smaak */
  height: auto;

  cursor: pointer;
  z-index: 1000;      /* zodat ’ie boven alles blijft */
}

Footer {
  Background-color: powderblue;
}

h1 {
  color: blueviolet;
}

.custom-cursor {
  cursor: url("Star net.png") 16 16, auto;
}
