
html, body {
  width: 100%;
  height: 100%;
}

Body {
  Background-image: URL("ACNH wallpaper.jpg")
}

#Title {
  /*background-color: pink;*/
  display: inline-block;
  opacity: 0.2;
  Color: white;
}

#cursorToggle {
  position: fixed;
  right: 20px;
  bottom: 20px;

  width: 200px;        /* pas aan naar smaak */
  height: auto;

  cursor: pointer;
  z-index: 1000;      /* zodat ’ie boven alles blijft */
}

#cursorToggleFish {
  position: fixed;
  right: 20px;
  bottom: 20px;

  width: 200px;        /* pas aan naar smaak */
  height: auto;

  cursor: pointer;
  z-index: 1000;      /* zodat ’ie boven alles blijft */
}

Footer {
  Background-color: powderblue;
}

h1 {
  color: blueviolet;
}

body.custom-cursor {
  cursor: url("Star net.png") 10 10, auto;
}
body.custom-cursor-fish {
  cursor: url("Vissen hengel.png") 10, 10, auto;
}
